{% extends "djbootmin/base.html" %}
{% block meta %}
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="0">
{% endblock %}
{% block extra_style %}
<link href="//www.carthage.edu/static/vendor/jquery/plugins/trumbowyg/trumbowyg.min.css"
  rel="stylesheet" type="text/css">
<link href="//www.carthage.edu/static/vendor/jquery/ui/datepicker/css/smoothness/jquery-ui-1.10.4.custom.min.css"
  rel="stylesheet" type="text/css">
<link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.0/css/bootstrap-select.min.css"
  rel="stylesheet" type="text/css">
<link href="/static/djsapo/css/autocomplete.css" rel="stylesheet" type="text/css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
  rel="stylesheet" type="text/css">
<link href="https://www.carthage.edu/themes/shared/css/tables.css"
  rel="stylesheet" type="text/css">
<link href="https://www.carthage.edu/static/djsani/css/dashboard.css"
  rel="stylesheet" type="text/css">
<link href="https://www.carthage.edu/static/djsani/css/main.css"
  rel="stylesheet" type="text/css">
<style>
.table thead {
  background-color: #efefef;
  color: #000;
  font-size: 1em;
}
.table > tbody > tr > th,
.table > tbody > tr > td {
  padding: 2px 4px 0 4px;
}
.card-header { margin-bottom: 12px; }
.card-title { margin: 4px 0 2px 0;; }
h5 {color:#000;}
.text-danger h5 {color:#dc3545;}
h6 {font-weight:600;}
.strike {
  color:red;text-decoration:line-through;
}
.strike span {
  color:black;
}
.blue-box {background-color:#eef6fe;}
.lightgrey-box {background-color:#f7f0e4;}
.list-group-item {
    padding: .25rem 1.25rem;
}
#categories, #categories_to {
    font-size: .8em;
}
.rebecca {background-color: rebeccapurple;color: white;padding-left:4px;border-radius:.25rem;}
</style>
{% endblock %}
{% block extra_javascript %}
<script src="//www.carthage.edu/static/vendor/jquery/ui/datepicker/js/jquery-ui-1.10.4.custom.min.js"
  type="text/javascript" language="javascript"></script>
<script src="//www.carthage.edu/static/vendor/jquery/plugins/trumbowyg/trumbowyg.min.js"
  type="text/javascript" language="javascript"></script>
<script src="//www.carthage.edu/static/vendor/jquery/plugins/multiselect/js/multiselect.min.js"
  type="text/javascript" language="javascript"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.0/js/bootstrap-select.min.js"
  type="text/javascript" language="javascript"></script>
<script src="//www.carthage.edu/static/vendor/autoComplete.js/dist/js/autoComplete.min.js"
  type="text/javascript" language="javascript"></script>
<script src="https://malsup.github.io/min/jquery.blockUI.min.js"
  type="text/javascript" language="javascript"></script>
<script src="//www.carthage.edu/static/vendor/js/spin.min.js"
  type="text/javascript" language="javascript"></script>
<script src="/static/djsapo/js/main.js"
  type="text/javascript" language="javascript"></script>
<script src="/static/djsapo/js/autocomplete.js"
  type="text/javascript" language="javascript"></script>
<script src="/static/djsapo/js/courses.autocomplete.js"
  type="text/javascript" language="javascript"></script>
<script type="text/javascript" charset="utf-8">
  $(function() {
    $("body").toggleClass("sidenav-toggled");
  });
</script>
{% endblock %}
{% block body_tag %}{% endblock %}
{% block navbar-header %}{% endblock %}
{% block navbar-top-links %}{% endblock %}
{% block navbar-sidenav %}{% endblock %}
{% block content-wrapper %} id="wrapper" class="content-wrapper"{% endblock %}
{% block content %}{% endblock %}
{% block breadcrumb %}{% endblock %}
{% block footer %}{% endblock %}
{% block logout %}{% endblock %}
