<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover display" id="data-table">
    <thead>
      <tr>
        <th>
          Student
          <i class="fa fa-eye green blue-tooltip" data-toggle="tooltip"
            data-placement="top" aria-hidden="true"
            title="View Concern"></i>
        </th>
        <th>Course</th>
        <th nowrap>
          Creator
          <i class="fa fa-envelope-o green blue-tooltip" data-toggle="tooltip"
            data-placement="top" aria-hidden="true"
            title="Send email to creator"></i>
        </th>
        <th>Created</th>
        <th>Relationship</th>
        <th>Category</th>
        {% if css %}<th>Case Manager</th>{% endif %}
        <th>Status</th>
        <th>Latest Follow-Up</th>
      </tr>
    </thead>
    <tbody>
    {% for a in alerts %}
      {% ifchanged a.id %}
      <tr>
        <td nowrap>
          <a href="{% url 'detail' a.id %}"
            title="View Concern Submission: {{a.student.id}}">{{a}}</a>
        </td>
        <td nowrap>{{a.course}}</td>
        <td nowrap title="Created at: {{a.created_at}}">
          <a href="mailto:{{a.created_by.email}}">
            {{a.created_by.last_name}}, {{a.created_by.first_name}}
          </a>
        </td>
        <td class="text-center" nowrap>{{a.created_at|date:'Y-m-d'}}</td>
        <td class="text-center">{{a.relationship}}</td>
        <td>
          {% for c in a.category.all %}
            {{c}}{% if not forloop.last %}, {% endif %}
          {% endfor %}
        </td>
        {% if css %}
        <td>
            {% for m in a.team.all %}{% if m.status and m.user.profile.case_manager %}{{m}}{% if not forloop.last %}<br>{% endif %}{% endif %}{% endfor %}
        </td>
        {% endif %}
        <td nowrap{% if a.status == "Closure suggested" %} class="bg-warning"{% endif %}>{{a.status}}</td>
        <td class="text-center" nowrap>{{a.latest_note.created_at|date:'Y-m-d'}}</td>
      </tr>
      {% endifchanged %}
    {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <th>
          Student
          <i class="fa fa-eye green blue-tooltip" data-toggle="tooltip"
            data-placement="top" aria-hidden="true"
            title="View Concern"></i>
        </th>
        <th>Course</th>
        <th nowrap>
          Creator
          <i class="fa fa-envelope-o green blue-tooltip" data-toggle="tooltip"
            data-placement="top" aria-hidden="true"
            title="Send email to creator"></i>
        </th>
        <th>Created</th>
        <th>Relationship</th>
        <th>Category</th>
        {% if css %}<th>Case Manager</th>{% endif %}
        <th>Status</th>
        <th>Latest Follow-Up</th>
      </tr>
    </tfoot>
  </table>
</div>
