<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover display" id="data-table">
    <thead>
      <tr>
        <th>
          Student
          <i class="fa fa-eye green blue-tooltip" data-toggle="tooltip"
            data-placement="top" aria-hidden="true"
            title="View Concern"></i>
        </th>
        <th>Course</th>
        <th nowrap>
          Creator
          <i class="fa fa-envelope-o green blue-tooltip" data-toggle="tooltip"
            data-placement="top" aria-hidden="true"
            title="Send email to creator"></i>
        </th>
        <th>Created</th>
        <th>Relationship</th>
        <th>Category</th>
        {% if css %}<th>Case Manager</th>{% endif %}
        <th>Status</th>
        <th>Latest Follow-Up</th>
        <th>Follow-Up Count</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th>
          Student
          <i class="fa fa-eye green blue-tooltip" data-toggle="tooltip"
            data-placement="top" aria-hidden="true"
            title="View Concern"></i>
        </th>
        <th>Course</th>
        <th nowrap>
          Creator
          <i class="fa fa-envelope-o green blue-tooltip" data-toggle="tooltip"
            data-placement="top" aria-hidden="true"
            title="Send email to creator"></i>
        </th>
        <th>Created</th>
        <th>Relationship</th>
        <th>Category</th>
        {% if css %}<th>Case Manager</th>{% endif %}
        <th>Status</th>
        <th>Latest Follow-Up</th>
        <th>Follow-Up Count</th>
      </tr>
    </tfoot>
  </table>
</div>
