{% extends "home.html" %}
{% block extra_style %}
{{block.super}}
<link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css"
  rel="stylesheet" type="text/css">
<link href="https://cdn.datatables.net/buttons/1.5.1/css/buttons.dataTables.min.css"
  rel="stylesheet" type="text/css">
<style type="text/css">
table.dataTable thead th {
  background: transparent !important;
  white-space: nowrap;
}
table.dataTable thead span.sort-icon {
  display: inline-block;
  padding-left: 5px;
  width: 16px;
  height: 16px;
}
.dataTables_wrapper{margin-bottom:20px;}
.dataTables_length{margin-right:50px;}
.dataTables_filter { float: left; margin-right:20px; }
</style>
{% endblock %}
{% block extra_javascript %}
{{block.super}}
<script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"
  type="text/javascript" charset="utf-8" language="javascript"></script>
<script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.flash.min.js"
  type="text/javascript" charset="utf-8" language="javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"
  type="text/javascript" charset="utf-8" language="javascript"></script>
<script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"
  type="text/javascript" charset="utf-8" language="javascript"></script>
<script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.print.min.js"
  type="text/javascript" charset="utf-8" language="javascript"></script>
<script>
$(document).ready(function() {
  var table = $('#data-table').DataTable({
    'lengthMenu': [
      [25, 50, 100, 250, 500, 1000, 2000, -1],
      [25, 50, 100, 250, 500, 1000, 2000, "All"]
    ],
    dom: 'lfrBtip',
    buttons: [
      'csv', 'excel'
    ]
  });
  // disable submit button after user clicks it
  $('form#profile').bind('submit', function (e) {
    $('form#profile input[type=submit]').prop('disabled', true);
    return true;
  });
});
</script>
{% endblock %}
