{% extends "datatables.html" %}
{% block extra_javascript %}
{{block.super}}
<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-sortablejs@latest/jquery-sortable.js"></script>
<script>
$('#matrix-table').sortable({
    group: {
        name:'matrix',
        pull:['team']
    },
    animation: 150,
    sort: false,
    onAdd: function (evt) {
        console.log(evt);
    },
    onRemove: function (evt) {
        console.log(evt);
    }
});
$('#team-members').sortable({
    group: {
        name: 'team',
        put: ['matrix','facstaff'],
        pull: ['matrix','facstaff']
    },
    animation: 150,
    sort: false,
    filter: '.strike', // is not draggable
    onAdd: function (evt) {
        //console.log(evt['item']['firstElementChild']);
        $mid = evt['item']['firstElementChild']['dataset']['mid'];
        $midDom = $('[data-mid="' + $mid + '"]');
        $midDom.prepend('<a href="#" class="remove-member"><i class="fa fa-times red blue-tooltip" data-toggle="tooltip" data-placement="top" aria-hidden="true" title="Remove from the alert team"></i></a>');
        //console.log('mid=' + $midDom.html());
    },
    onRemove: function (evt) {
        //console.log(evt);
    }
});
$('#faculty-staff').sortable({
    group: {
        name: 'facstaff'
    },
    animation: 150,
    sort: false,
    filter: '.dataTables_empty', // is not draggable
    onAdd: function (evt) {
        console.log(evt);
    },
    onRemove: function (evt) {
        console.log(evt);
    }
});
</script>
{% endblock %}
{% block content %}
{% include "alert/student.header.inc.html" %}
<div class="container mb-4">
  <div class="row mb-3">
    <div class="col-lg-9">
      <h2>Alert Team Manager</h2>
      <p>
        Click on a person's name and drag the it from one side to the other.
        To add someone to the team, drag them from the left and drop them on the right.
        To remove someone from the team, drag them from the right to drop them on the left.
      </p>
    </div>
    <!-- /.col-lg-8 -->
  </div>
  <!-- /.row -->
  <div class="row mb-3">
    <div class="col-lg-4">
      <h4>SOS Matrix</h4>
      <div class="table-responsive">
        <table class="table table-bordered table-hover display compact data-table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Groups</th>
            </tr>
          </thead>
          <tbody id="matrix-table">
            {% for m in matrix %}
            <tr>
              <td nowrap data-mid="{{m.id}}">
                <i class="fa fa-arrows handle"></i>
                {{m.last_name}}, {{m.first_name}}
              </td>
              <td nowrap>
                {% for g in m.groups.all %}
                {% if 'Status' not in g.name %}
                {{g}}{% if not forloop.last %}, {% endif %}
                {% endif %}
                {% endfor %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <h4>Current Team</h4>
      <div class="table-responsive">
        <table class="table table-bordered table-hover display compact data-table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Groups</th>
            </tr>
          </thead>
          <tbody id="team-members">
            {% for m in data.team.all %}
            <tr{% if not  m.status %} class="strike"{% endif %}>
              <td nowrap data-mid="{{m.user.id}}">
                <span>
                  {% if m.status %}
                  <a href="#" class="remove-member"><i class="fa fa-times red blue-tooltip" data-toggle="tooltip" data-placement="top" aria-hidden="true" title="Remove {{m}} from the alert team"></i></a>
                  {% else %}
                    <i class="fa fa-ban red" data-toggle="tooltip" data-placement="top"
                    title="{{m}} is no longer a member of the alert team"
                    aria-hidden="true"></i>
                  {% endif %}
                  <i class="fa fa-arrows handle"></i>
                  {{m}}
                </span>
              </td>
              <td nowrap>
                <span>
                {% for g in m.user.groups.all %}
                {% if 'Status' not in g.name %}
                {{g.name}}{% if not forloop.last %}, {% endif %}
                {% endif %}
                {% endfor %}
                </span>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <div class="table-responsive" id="facultyStaff">
        <table class="table table-bordered table-hover display compact faculty-staff">
          <thead>
            <tr>
              <th>Faculty/Staff</th>
            </tr>
          </thead>
          <tbody id="faculty-staff">
              <tr>
              <td nowrap data-mid="1">
                  <span><i class="fa fa-arrows handle"></i>Kurkowski, Larry</span>
              </td>
            </tr>
            <tr>
              <td nowrap data-mid="1405317">
                  <span><i class="fa fa-arrows handle"></i>Krusza, Amber</span>
              </td>
            </tr>
            <tr>
              <td nowrap data-mid="1108741">
                  <span> <i class="fa fa-arrows handle"></i> Schowalter, Diane </span>
              </td>
            </tr>
            <tr>
              <td nowrap data-mid="1558024">
                  <span> <i class="fa fa-arrows handle"></i> Peterson, Kelsey </span>
              </td>
            </tr>
            <tr>
              <td nowrap data-mid="1470526">
                  <span> <i class="fa fa-arrows handle"></i> Goldsberry, Kimberlie </span>
              </td>
            </tr>
              <tr>
              <td nowrap data-mid="1">
                  <span><i class="fa fa-arrows handle"></i>Kurkowski, Larry</span>
              </td>
            </tr>
            <tr>
              <td nowrap data-mid="1405317">
                  <span><i class="fa fa-arrows handle"></i>Krusza, Amber</span>
              </td>
            </tr>
            <tr>
              <td nowrap data-mid="1108741">
                  <span> <i class="fa fa-arrows handle"></i> Schowalter, Diane </span>
              </td>
            </tr>
            <tr>
              <td nowrap data-mid="1558024">
                  <span> <i class="fa fa-arrows handle"></i> Peterson, Kelsey </span>
              </td>
            </tr>
            <tr>
              <td nowrap data-mid="1470526">
                  <span> <i class="fa fa-arrows handle"></i> Goldsberry, Kimberlie </span>
              </td>
            </tr>
            <tr>
              <td nowrap data-mid="1">
                  <span><i class="fa fa-arrows handle"></i>Kurkowski, Larry</span>
              </td>
            </tr>
            <tr>
              <td nowrap data-mid="1405317">
                  <span><i class="fa fa-arrows handle"></i>Krusza, Amber</span>
              </td>
            </tr>
            <tr>
              <td nowrap data-mid="1108741">
                  <span> <i class="fa fa-arrows handle"></i> Schowalter, Diane </span>
              </td>
            </tr>
            <tr>
              <td nowrap data-mid="1558024">
                  <span> <i class="fa fa-arrows handle"></i> Peterson, Kelsey </span>
              </td>
            </tr>
            <tr>
              <td nowrap data-mid="1470526">
                  <span> <i class="fa fa-arrows handle"></i> Goldsberry, Kimberlie </span>
              </td>
            </tr>
              <tr>
              <td nowrap data-mid="1">
                  <span><i class="fa fa-arrows handle"></i>Kurkowski, Larry</span>
              </td>
            </tr>
            <tr>
              <td nowrap data-mid="1405317">
                  <span><i class="fa fa-arrows handle"></i>Krusza, Amber</span>
              </td>
            </tr>
            <tr>
              <td nowrap data-mid="1108741">
                  <span> <i class="fa fa-arrows handle"></i> Schowalter, Diane </span>
              </td>
            </tr>
            <tr>
              <td nowrap data-mid="1558024">
                  <span> <i class="fa fa-arrows handle"></i> Peterson, Kelsey </span>
              </td>
            </tr>
            <tr>
              <td nowrap data-mid="1470526">
                  <span> <i class="fa fa-arrows handle"></i> Goldsberry, Kimberlie </span>
              </td>
            </tr>
              <tr>
              <td nowrap data-mid="1">
                  <span><i class="fa fa-arrows handle"></i>Kurkowski, Larry</span>
              </td>
            </tr>
            <tr>
              <td nowrap data-mid="1405317">
                  <span><i class="fa fa-arrows handle"></i>Krusza, Amber</span>
              </td>
            </tr>
            <tr>
              <td nowrap data-mid="1108741">
                  <span> <i class="fa fa-arrows handle"></i> Schowalter, Diane </span>
              </td>
            </tr>
            <tr>
              <td nowrap data-mid="1558024">
                  <span> <i class="fa fa-arrows handle"></i> Peterson, Kelsey </span>
              </td>
            </tr>
            <tr>
              <td nowrap data-mid="1470526">
                  <span> <i class="fa fa-arrows handle"></i> Goldsberry, Kimberlie </span>
              </td>
            </tr>
              <tr>
              <td nowrap data-mid="1">
                  <span><i class="fa fa-arrows handle"></i>Kurkowski, Larry</span>
              </td>
            </tr>
            <tr>
              <td nowrap data-mid="1405317">
                  <span><i class="fa fa-arrows handle"></i>Krusza, Amber</span>
              </td>
            </tr>
            <tr>
              <td nowrap data-mid="1108741">
                  <span> <i class="fa fa-arrows handle"></i> Schowalter, Diane </span>
              </td>
            </tr>
            <tr>
              <td nowrap data-mid="1558024">
                  <span> <i class="fa fa-arrows handle"></i> Peterson, Kelsey </span>
              </td>
            </tr>
            <tr>
              <td nowrap data-mid="1470526">
                  <span> <i class="fa fa-arrows handle"></i> Goldsberry, Kimberlie </span>
              </td>
            </tr>
              <tr>
              <td nowrap data-mid="1">
                  <span><i class="fa fa-arrows handle"></i>Kurkowski, Larry</span>
              </td>
            </tr>
            <tr>
              <td nowrap data-mid="1405317">
                  <span><i class="fa fa-arrows handle"></i>Krusza, Amber</span>
              </td>
            </tr>
            <tr>
              <td nowrap data-mid="1108741">
                  <span> <i class="fa fa-arrows handle"></i> Schowalter, Diane </span>
              </td>
            </tr>
            <tr>
              <td nowrap data-mid="1558024">
                  <span> <i class="fa fa-arrows handle"></i> Peterson, Kelsey </span>
              </td>
            </tr>
            <tr>
              <td nowrap data-mid="1470526">
                  <span> <i class="fa fa-arrows handle"></i> Goldsberry, Kimberlie </span>
              </td>
            </tr>
              <tr>
              <td nowrap data-mid="1">
                  <span><i class="fa fa-arrows handle"></i>Kurkowski, Larry</span>
              </td>
            </tr>
            <tr>
              <td nowrap data-mid="1405317">
                  <span><i class="fa fa-arrows handle"></i>Krusza, Amber</span>
              </td>
            </tr>
            <tr>
              <td nowrap data-mid="1108741">
                  <span> <i class="fa fa-arrows handle"></i> Schowalter, Diane </span>
              </td>
            </tr>
            <tr>
              <td nowrap data-mid="1558024">
                  <span> <i class="fa fa-arrows handle"></i> Peterson, Kelsey </span>
              </td>
            </tr>
            <tr>
              <td nowrap data-mid="1470526">
                  <span> <i class="fa fa-arrows handle"></i> Goldsberry, Kimberlie </span>
              </td>
            </tr>
              <tr>
              <td nowrap data-mid="1">
                  <span><i class="fa fa-arrows handle"></i>Kurkowski, Larry</span>
              </td>
            </tr>
            <tr>
              <td nowrap data-mid="1405317">
                  <span><i class="fa fa-arrows handle"></i>Krusza, Amber</span>
              </td>
            </tr>
            <tr>
              <td nowrap data-mid="1108741">
                  <span> <i class="fa fa-arrows handle"></i> Schowalter, Diane </span>
              </td>
            </tr>
            <tr>
              <td nowrap data-mid="1558024">
                  <span> <i class="fa fa-arrows handle"></i> Peterson, Kelsey </span>
              </td>
            </tr>
            <tr>
              <td nowrap data-mid="1470526">
                  <span> <i class="fa fa-arrows handle"></i> Goldsberry, Kimberlie </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- /.col-lg-4 -->
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->
{% endblock content %}
