{% extends "datatables.html" %}
{% block title %}
  Team Manager &mdash; Center for Student Success &mdash;
  Carthage College
{% endblock %}
{% block extra_javascript %}
{{block.super}}
<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-sortablejs@latest/jquery-sortable.js"></script>
<script type="text/javascript" charset="utf-8">
var $aid = "{{data.id}}";
</script>
{% endblock %}
{% block content %}
{% include "alert/student.header.inc.html" %}
<div class="container mb-4">
  <div class="row mb-3">
    <div class="col-lg-9">
      <h2>Team Manager</h2>
      <p>
        To add someone to the team, drag them from the left or right table
        and drop them to the middle. To remove somone, click on the red X icon.
      </p>
    </div>
    <!-- /.col-lg-8 -->
  </div>
  <!-- /.row -->
  <div class="row mb-3">
    <div class="col-lg-4">
      <h5>Suggested Team Members</h5>
      <div class="table-responsive">
        <table class="table table-bordered table-hover display compact sos-matrix">
          <thead>
            <tr>
              <th>Name</th>
              <th>Groups</th>
            </tr>
          </thead>
          <tbody id="matrix-table">
            {% for m in matrix %}
            <tr id="del_{{m.id}}">
              <td nowrap data-uid="{{m.id}}" data-last_name="{{m.last_name}}" data-first_name="{{m.first_name}}">
                <i class="fa fa-arrows handle"></i>
                {{m.last_name}}, {{m.first_name}}
                {% if m.profile.case_manager %}
                  <i class="fa fa-star green blue-tooltip" title="Case Manager" aria-hidden="true"></i>
                {% endif %}
              </td>
              <td nowrap>
              {% if student.adv_id == m.id %}
                Advisor
              {% else %}
                {% for g in m.groups.all %}
                {% if 'Status' not in g.name %}
                {% if g.name != "CenterForStudentSuccess" and g.name != "Coaches" %}
                {{g}}{% if not forloop.last %}, {% endif %}
                {% endif %}{% endif %}
                {% endfor %}
              {% endif %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <h5>Assigned Team Members</h5>
      <div class="table-responsive">
        <table class="table table-bordered table-hover display compact data-table">
          <thead>
            <tr>
              <th></th>
              <th>Name</th>
              <th>Groups</th>
            </tr>
          </thead>
          <tbody id="team-members">
            {% for m in data.team.all %}
            <tr{% if not  m.status %} class="strike"{% endif %} id="del_{{m.user.id}}">
              <td class="text-center">
              {% if m.status %}
                <a href="#" class="remove-member" data-uid="{{m.user.id}}" data-mid="{{m.id}}"
                  data-last_name="{{m.user.last_name}}" data-first_name="{{m.user.first_name}}">
                  <i class="fa fa-times red blue-tooltip" data-toggle="tooltip" data-placement="top" aria-hidden="true" title="Remove {{m}} from the team"></i></a>
              {% else %}
                <i class="fa fa-ban red" data-toggle="tooltip" data-placement="top"
                  title="{{m}} is no longer a member of the team"
                  aria-hidden="true"></i>
              {% endif %}
              </td>
              <td nowrap data-uid="{{m.user.id}}">
                <span>
                  <i class="fa fa-arrows handle"></i>
                  {{m}}
                  {% if m.user.profile.case_manager %}
                  <i class="fa fa-star green blue-tooltip" title="Case Manager" aria-hidden="true"></i>
                  {% endif %}
                </span>
              </td>
              <td nowrap>
                <span>
                {% for g in m.user.groups.all %}
                {% if 'Status' not in g.name %}
                {% if g.name != "CenterForStudentSuccess" and g.name != "Coaches" %}
                {{g.name}}{% if not forloop.last %}, {% endif %}
                {% endif %}{% endif %}
                {% endfor %}
                </span>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <h5>Faculty/Staff</h5>
      <div class="table-responsive" id="facultyStaff">
        <table class="table table-bordered table-hover display compact faculty-staff">
          <thead>
            <tr>
              <th>Name</th>
            </tr>
          </thead>
          <tbody id="faculty-staff">
          {% for p in peeps %}
          <tr id="del_{{p.cid}}">
            <td nowrap data-uid="{{p.cid}}" data-last_name="{{p.lastname}}" data-first_name="{{p.firstname}}">
              <span>
                <i class="fa fa-arrows handle"></i> {{p.lastname}}, {{p.firstname}}
              </span>
            </td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <!-- /.col-lg-4 -->
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->
{% endblock content %}
