{% extends "home.html" %}
{% load humanize model_helpers %}
{% block extra_javascript %}
{{block.super}}
<script src="//www.carthage.edu/static/vendor/js/spin.min.js"
    type="text/javascript"></script>
<script src="https://malsup.github.io/min/jquery.blockUI.min.js"
    type="text/javascript"></script>
<script type="text/javascript">
$(function() {
  /* spinner */
  var opts = {
      lines: 13, // The number of lines to draw
      length: 20, // The length of each line
      width: 10, // The line thickness
      radius: 30, // The radius of the inner circle
      corners: 1, // Corner roundness (0..1)
      rotate: 0, // The rotation offset
      direction: 1, // 1: clockwise, -1: counterclockwise
      color: '#000', // #rgb or #rrggbb or array of colors
      speed: 1, // Rounds per second
      trail: 60, // Afterglow percentage
      shadow: false, // Whether to render a shadow
      hwaccel: false, // Whether to use hardware acceleration
      className: 'search-results', // The CSS class to assign to spinner
      zIndex: 2e9, // The z-index (defaults to 2000000000)
      top: '50px', // Top position relative to parent in px
      left: 'auto' // Left position relative to parent in px
  };
  var target = document.getElementById("wrapper");
  var spinner = new Spinner(opts).spin(target);
  spinner.stop(target);

  $('#print').click(function() {
    window.print();
    return false;
  });
  $('[data-toggle="tooltip"]').tooltip();
});
</script>
{% endblock %}
{% block content %}
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">
      Alert Detail
      <a href="#" id="print" class="no-print-icon">
        <i class="fa fa-print green blue-tooltip" aria-hidden="true"
          data-toggle="tooltip" data-placement="top"
          title="Print to paper or PDF"></i></a> |
      <a href="{# url 'proposal_approver' proposal.id #}"
        class="no-print-icon">
        <i class="fa fa-thumbs-o-up green blue-tooltip" aria-hidden="true"
          data-toggle="tooltip" data-placement="top"
          title="Add Team Member to this Alert"></i></a> |
      <a href="{# url 'email_team_form' alert.id #}"
        class="no-print-icon">
        <i class="fa fa-envelope green blue-tooltip" aria-hidden="true"
          data-toggle="tooltip" data-placement="top"
          title="Send Email to the Alert Team"></i></a>
    </h1>
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
  <div class="col-lg-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <h4>Student</h4>
        <h5>
          {{data.student.last_name}}, {{data.student.first_name}}
          [{{data.student.id}}]
        </h5>
        {% if data.course %}
        <h4>Course</h4>
        <h5>{{data.course}}</h5>
        {% endif %}
        <h4>Relationship with student</h4>
        <h5>{{data.relationship}}</h5>
        <h4>Type of concern</h4>
        <ol>
        {% for c in data.category.all %}
        <li>{{c}}</li>
        {% endfor %}
        </ol>
        <h4>Severity</h4>
        <h5>{{data.severity}}</h5>
        <h4>Details about this concern</h4>
        <div>{{data.description|safe}}</div>
        <h4>Have you interacted with the student regarding this concern?</h4>
        <h5>{{data.interaction}}</h5>
        {% if data.interaction == 'Yes' %}
        <h4>How did you interact with this student?</h4>
        <h5>{{data.interaction_type}}</h5>
        <h4>Date of interaction</h4>
        <h5>{{data.interaction_date}}</h5>
        <h4>Interaction details</h4>
        <div>{{data.interaction_details|safe}}</div>
        {% endif %}
        <h4>Outcome</h4>
        <h5>{{data.outcome}}</h5>
        <!-- fin -->
      </div>
      <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
  </div>
  <!-- /.col-lg-6 -->
  <div class="col-lg-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <h3 class="detail">
          Comments
        </h3>
        <ol>
        {% for n in data.notes.all %}
          <li>{{n.body|safe}}</li>
        {% endfor %}
        </ol>
        <h3 class="detail">
          Documents
        </h3>
        <ul>
        {% for d in data.documents.all %}
          {% if d.phile %}
          <li>
            <h5>
              <a href="https://{{server_url}}{{media_url}}{{d.phile}}">{{d.name}}</a>
            </h5>
          </li>
          {% endif %}
        {% endfor %}
        </ul>
        <!-- fin -->
      </div>
      <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
  </div>
  <!-- /.col-lg-6 -->
</div>
<!-- /.row -->
{% endblock content %}
