{% extends "home.html" %}
{% load humanize model_helpers %}
{% block extra_javascript %}
{{block.super}}
<script type="text/javascript" charset="utf-8">
var $aid = "{{data.id}}";
var $objectManager = "{% url 'object_manager' %}";
var $setValUrl = "{% url 'set_val' %}";
</script>
{% endblock %}
{% block content %}
<div class="container mb-4" id="alert-container">
<div class="row">
  <div class="col-lg-4">
    <div class="rebecca">
      <h3>{{data.student.last_name}}, {{data.student.first_name}}</h3>
    </div>
  </div>
  <div class="col-lg-4">
  </div>
  <div class="col-lg-4">
    {% if perms.team or perms.admin %}
      <div class="card panel-success mb-2">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-12" id="student-contact" style="font-size:.9em;">
              <div class="row">
                <div class="col-lg-4">
                  <strong>{{data.student.id}}</strong><br>
                </div>
                <div class="col-lg-8">
                  <div class="float-right">
                    <a href="mailto:{{data.student.email}}">{{data.student.email}}</a>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.col-12 -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.card-body -->
      </div>
     {% endif %}
  </div>
</div>
<!-- /.row -->
<div class="row">
  <div class="col-lg-6">
    <div class="row">
      <div class="col-lg-6">
        <dl class="dl-horizontal">
          <dt>Status</dt>
          <dd>
            <select name="status" class="list-group-item-success selectpicker set-val"
            data-width="200px" data-style="list-group-item-success text-dark"
            title="Choose status&hellip;">
            {% for s in data.STATUS_CHOICES %}
            <option value="{{s.0}}"{% if s.0 == data.status %} selected="selected"{% endif %}>
            {{s.1|safe}}
            </option>
            {% endfor %}
            </select>
          </dd>
          <dt>Submitted by</dt>
          <dd>{{data.created_by.last_name}}, {{data.created_by.first_name}}</dd>
          <dt>Date submitted</dt>
          <dd>{{data.created_at}}</dd>
        </dl>
      </div>
      <div class="col-lg-5 ml-2">
        <dl class="dl-horizontal">
          <dt>Relationship with student</dt>
          <dd>
            <select name="relationship" class="list-group-item-success selectpicker set-val"
            data-width="200px" data-style="list-group-item-success text-dark"
            title="Choose relationship&hellip;">
            {% for r in data.RELATIONSHIP_CHOICES %}
            <option value="{{r.0}}"{% if r.0 == data.relationship %} selected="selected"{% endif %}>
            {{r.1|safe}}
            </option>
            {% endfor %}
            </select>
          </dd>
          {% if data.course %}
          <dt>Course</dt>
          <dd>{{data.course}}</dd>
          {% endif %}
          {% if perms.admin %}
          <dt>Outcome</dt>
          <dd>{{data.outcome}}</dd>
          {% endif %}
        </dl>
      </div>
    </div>
    <div class="panel">
      <div class="panel-body">
        <h4>Type of concern
          <i class="fa fa-tags green blue-tooltip" aria-hidden="true" data-toggle="tooltip" data-placement="top"
          title="Manage the concern types for this alert"></i>
        </h4>
        <div class="row">
          <div class="col-lg-5">
          <select name="from[]" id="categories" class="form-control mb-2" size="10" multiple="multiple">
            {% for c in data.category_list %}
            <option value="{{c.id}}">{{c.name}}</option>
            {% endfor %}
          </select>
          </div>
          <div class="col-lg-1">
            <button type="button" id="categories_rightSelected" class="btn btn-block"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
            <button type="button" id="categories_leftSelected" class="btn btn-block"><i class="fa fa-chevron-left" aria-hidden="true"></i></button>
          </div>
          <div class="col-lg-5">
          <select name="to[]" id="categories_to" class="form-control mb-2" size="10" multiple="multiple">
            {% for c in data.category.all %}
            <option value="{{c.id}}">{{c.name}}</option>
            {% endfor %}
          </select>
          </div>
        </div>
        <dl class="dl-horizontal">
          <dt><h4>Details about this concern</h4></dt>
          <dd>
            <div class="card bg-light">
              <div class="card-body">
                <div class="card-text">{{data.description|safe}}</div>
              </div>
            </div>
          </dd>
        </dl>
        <h4>Interactions</h4>
        <div class="card bg-light mb-3">
          <div class="card-body">
          <dl class="dl-horizontal">
          <dt>Have you interacted with the student regarding this concern?</dt>
          <dd>
            {{data.interaction}}
          </dd>
          {% if data.interaction == 'Yes' %}
            <dt>How did you interact with this student?</dt>
            <dd>{{data.interaction_type}}</dd>
            <dt>Date of interaction</dt>
            <dd>{{data.interaction_date}}</dd>
            <dt>Details</dt>
            <dd>
              <div class="card bg-light">
                <div class="card-body">
                  <div class="card-text">{{data.interaction_details|safe}}</div>
                </div>
              </div>
            </dd>
          {% endif %}
          </dl>
          </div>
        </div>
        <h4>Documents <i class="fa fa-floppy-o green" aria-hidden="true"></i></h4>
        <ul class="list-group mb-3">
          {% for d in data.documents.all %}
            {% if d.phile %}
            <li class="list-group-item {% autoescape off %}{% cycle 'list-group-item-light' 'list-group-item-none' %}{% endautoescape %}">
              <h5>
                <a href="https://{{server_url}}{{media_url}}{{d.phile}}">{% if d.name %}{{d.name}}{% else %}{{d.created_at}}{% endif %}</a>
                <i class="fa fa-file-{{d.get_icon}}-o green" aria-hidden="true"></i>
              </h5>
            </li>
            {% endif %}
          {% endfor %}
        </ul>
        <!-- fin -->
      </div>
      <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
  </div>
  <!-- /.col-lg-6 -->
  <div class="col-lg-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <h4>
          Team members
          <a href="{# url 'member' alert.id #}" class="no-print-icon">
            <i class="fa fa-users green blue-tooltip" aria-hidden="true" data-toggle="tooltip" data-placement="bottom"
            title="Add Team Member to this Alert"></i></a> |
          <a href="{# url 'email_team_form' alert.id #}" class="no-print-icon">
            <i class="fa fa-envelope green blue-tooltip" aria-hidden="true"
            data-toggle="tooltip" data-placement="top"
            title="Send Email to the Alert Team"></i></a>
        </h4>
        <ul class="list-group mb-3">
        {% for m in data.team.all %}
        <li class="list-group-item d-flex justify-content-between lh-condensed {% autoescape off %}{% endautoescape %}">
          <span id="member_{{m.id}}" {% if not m.status %} class="strike"{% endif %}>
            <span {% if not m.status %} data-toggle="tooltip" data-placement="top" title="{{m}} is no longer a member of the team"{% endif %}>
              {{m}}
              {% if m.case_manager %}
              <i class="fa fa-star green blue-tooltip" data-toggle="tooltip"
                data-placement="top" title="Case Manager" aria-hidden="true"></i>
              {% endif %}
            </span>
          </span>
          <span>
          {% if m.status %}
          <a href="#" class="remove-member no-print-icon"
            data-uid="{{m.user.id}}" data-mid="{{m.id}}"
            data-last_name="{{m.user.last_name}}" data-first_name="{{m.user.first_name}}">
            <i class="fa fa-times red blue-tooltip" data-toggle="tooltip" data-placement="top"
              title="Remove {{m.user.first_name}} {{m.user.last_name}} from the alert team"
              aria-hidden="true"></i></a>
          {% else %}
          <i class="fa fa-ban red" data-toggle="tooltip" data-placement="top"
            title="{{m}} is no longer a member of the alert team"
            aria-hidden="true"></i>
          {% endif %}
          </span>
        </li>
        {% endfor %}
        </ul>
        <h4>
          Comments
          <a href="{# url 'comment_form' alert.id #}" class="no-print-icon">
            <i class="fa fa-comments-o green blue-tooltip" data-toggle="tooltip"
            data-placement="top" title="Submit a comment" aria-hidden="true"></i></a>
        </h4>
        {% for n in data.notes.all %}
        {% if n.status %}
        <div class="card mb-3 {% autoescape off %}{% cycle 'lightgrey-box' 'blue-box' %}{% endautoescape %}">
          <div class="card-body">
            <h5 class="card-title mb-2">
              <a href="mailto:{{n.created_by.email}}">
                {{n.created_by.last_name}}, {{n.created_by.first_name}}</a>
            </h5>
            <h6 class="card-subtitle mb-2 text-muted">{{n.created_at}}</h6>
            <div class="card-text text-dark">{{n.body|safe}}</div>
          </div>
        </div>
        {% endif %}
        {% endfor %}
        <!-- fin -->
      </div>
      <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
  </div>
  <!-- /.col-lg-6 -->
</div>
<!-- /.row -->
</div>
<!-- /.container -->
{% endblock content %}
