{% load livewhale_api %}
{% autoescape off %}
<h4>Hello, {{data.user.first_name|capfirst}},</h4>
<p>
  The Center for Student Success has added you as a member of the
  outreach team for a concern submitted regarding
  {{data.alert.student.first_name}} {{data.alert.student.last_name}}.
</p>
<p>
  Please review the full details of this submission and share any
  follow-up information related to the concern
  <a href="{{data.alert.get_absolute_url}}">here</a>.
</p>
<p>
  <em>
    This is an automated message from the Student Outreach System.
    Please do not reply to this email. 
  </em>
</p>
{% endautoescape %}
