{% extends "home.html" %}
{% load livewhale_api %}
{% block title %}
  Early Alert Submission Form &mdash; Center for Student Success &mdash;
  Carthage College
{% endblock %}
{% block extra_javascript %}
{{block.super}}
{{ form.media }}
<script src="//www.carthage.edu/static/vendor/jquery/plugins/trumbowyg/trumbowyg.min.js"
  type="text/javascript" language="javascript"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.0/js/bootstrap-select.min.js"
  type="text/javascript" language="javascript"></script>
<script src="//www.carthage.edu/static/vendor/jquery/ui/datepicker/js/jquery-ui-1.10.4.custom.min.js"
  type="text/javascript" language="javascript"></script>
<script src="//www.carthage.edu/static/vendor/autoComplete.js/dist/js/autoComplete.js"
  type="text/javascript" language="javascript"></script>
<script src="/static/djsapo/js/autocomplete.js"
  type="text/javascript" language="javascript"></script>
<script src="https://malsup.github.io/min/jquery.blockUI.min.js"
  type="text/javascript" language="javascript"></script>
<script src="//www.carthage.edu/static/vendor/js/spin.min.js"
  type="text/javascript" language="javascript"></script>
<script src="/static/djsapo/js/main.js"
  type="text/javascript" language="javascript"></script>
<script type="text/javascript" charset="utf-8">
$(function() {
  /* spinner: instantiate */
  var opts = {
    lines: 13, // The number of lines to draw
    length: 20, // The length of each line
    width: 10, // The line thickness
    radius: 30, // The radius of the inner circle
    corners: 1, // Corner roundness (0..1)
    rotate: 0, // The rotation offset
    direction: 1, // 1: clockwise, -1: counterclockwise
    color: '#000', // #rgb or #rrggbb or array of colors
    speed: 1, // Rounds per second
    trail: 60, // Afterglow percentage
    shadow: false, // Whether to render a shadow
    hwaccel: false, // Whether to use hardware acceleration
    className: 'search-results', // The CSS class to assign to spinner
    zIndex: 2e9, // The z-index (defaults to 2000000000)
    top: '50px', // Top position relative to parent in px
    left: 'auto' // Left position relative to parent in px
  };
  var target = document.getElementById("alert-container");
  var spinner = new Spinner(opts).spin(target);
  spinner.stop(target);
  /* interaction: fields that depend on whethor not there was an interaction */
  {% if form.interaction.value == 'Yes' %}
    $('#interactionFields').show();
  {% endif %}
  $('input[name="interaction"]').click(function() {
    toggle(this.value, 'Yes', '#interactionFields');
  });
  {% if form.student.value %}
    $('#autoComplete').val('');
    $('#autoComplete').attr('data-email','{{form.student.value}}');
  {% endif %}
  $('#id_category').on('change', function() {
    var $dis = $(this);
    $.ajax({
      type: "POST",
      url: "{% url 'kat_matrix' %}",
        data: {'cids': $dis.val()},
      cache: false,
      beforeSend: function(){
        spinner.spin(target);
      },
      success: function(data) {
        spinner.stop(target);
        //$.growlUI('Success', "Data saved.");
        //$('#support_matrix').html(data.form);
        //$('#support_matrix').html('<p><b>what what!</b></p>');
        $('#support_matrix').html(data);
      },
      error: function(data) {
        spinner.stop(target);
        $.growlUI('Error', data);
      }
    });
  });
});
</script>
{% endblock %}
{% block extra_style %}
{{block.super}}
<link href="//www.carthage.edu/static/vendor/jquery/plugins/trumbowyg/trumbowyg.min.css"
  rel="stylesheet" type="text/css">
<link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.0/css/bootstrap-select.min.css"
  rel="stylesheet" type="text/css">
<link href="//www.carthage.edu/static/vendor/jquery/ui/datepicker/css/smoothness/jquery-ui-1.10.4.custom.min.css"
  rel="stylesheet" type="text/css">
<link href="//www.carthage.edu/static/vendor/autoComplete.js/dist/css/autoComplete.css"
  rel="stylesheet" type="text/css">
<style>
#interactionFields {display:none;}
/* .required {border-left: 4px solid; border-left-color: red;} */
.required:after {content:" *";color:#dc3545;}
#descriptionField .trumbowyg-box {
    z-index:1;
}
{% if form.description.errors %}
#descriptionField .trumbowyg-box {
    border: 1px solid #dc3545;
}
{% endif %}
{% if form.interaction_details.errors %}
#interactionFields .trumbowyg-box {
    border: 1px solid #dc3545;
}
{% endif %}
/* autocomplete styles */
#autoComplete {
  border: 0.05rem solid green;
  caret-color: green;
  color: green;
  background-position: left .95rem top 0.5rem;
  width:64%;
  transition: none;
  -webkit-transition: none;
}
#autoComplete:hover {
  color: green;
  width:64%;
  height: 2.1rem;
  transition: none;
  -webkit-transition: none;
  background-position: left 1.05rem top 0.3rem;
  background-size: 1.5rem;
}
#autoComplete:focus {
  color: green;
  border: 0.05rem solid green;
  background-position: left 1.05rem top 0.4rem;
  background-size: 1.3rem;
  width:64%;
  height: 2.1rem;
}
#autoComplete::placeholder {
  color: #8fa98f;
  transition: none;
}
#autoComplete:hover::placeholder {
  color: #8fa98f;
  transition: none;
  -webkit-transition: none;
}
#autoComplete:focus::placeholder {
  color: #8fa98f;
  transition: none;
  -webkit-transition: none;
}
#autoComplete_results_list{
  position: absolute;
  left: 100px;
  width: auto;
  height:auto;
  display: none;
  z-index:9999;
}
.autoComplete_result {
  max-width:inherit;
  margin: 0;
  color: #000;
  background-color: #efefef;
  border-left: 2px solid #e3e3e3;
  border-right: 2px solid #e3e3e3;
}
.autoComplete_result::selection {
  color: rgba(#ffffff, 0);
  background-color: rgba(#ffffff, 0);
}
.autoComplete_result:last-child {
  border-radius: 0 0 1rem 1rem;
}
.autoComplete_result:hover {
  cursor: pointer;
  background-color: rgba(255, 248, 248, 0.9);
  border-left: 2px solid rgba(255, 122, 122, 1);
  border-right: 2px solid rgba(255, 122, 122, 1);
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}
.autoComplete_result:focus, .no_result {
  outline: none;
  background-color: rgba(255, 248, 248, 0.9);
  border-left: 2px solid rgba(255, 122, 122, 1);
  border-right: 2px solid rgba(255, 122, 122, 1);
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}
.selection {color:green;}
form#profile select {
  width: 80%;
}
.no_result {
    padding: 0.6rem;
    width:80%;
    border: 0.05rem solid #e3e3e3;
    list-style: none;
    text-align: left;
    font-size: 1.1rem;
    color: rgb(123, 123, 123);
    transition: all 0.1s ease-in-out;
    background-color: #fff;
    border-radius: 0 0 1rem 1rem;
    outline: none;
  }

.no_result:hover {
    cursor: default;
    background-color: #fff;
    border: 0.05rem solid #e3e3e3;
}

.no_result:focus {
    cursor: default;
    background-color: #fff;
    border: 0.05rem solid #e3e3e3;
}
</style>
{% endblock %}
{% block content_head %}
  <h1 id="page_title">Early Alert Form</h1>
{% endblock %}
{% block content %}
<div class="container mb-4" id="alert-container">
  <div class="col-md-12 card">
    <div class="card-title">
      <h3>Early Alert Submission Form</h3>
    </div>
    <div class="card-header bg-light text-black">
      {% get_lw_content as instructions blurbs 2811 %}
      {{instructions.body|safe}}
      {% if user.is_staff %}
      <p>
      <a href="https://www.carthage.edu/livewhale/?blurbs_edit&tid=351&id=2811"
        target="_blank">
        <i class="fa fa-pencil green" aria-hidden="true" title="Manage the content above in LiveWhale"></i></a>
      </p>
      {% endif %}
      {% include "includes/required_text.html" %}
    </div>
    <div class="card-body">
      <form method="post" enctype="multipart/form-data" action="."
        class="form" id="profile" style="margin-bottom:20px;">
        {% csrf_token %}
        {% if form.errors or form_doc.errors %}
          <div class="alert alert-danger">
            <p>Please correct the error{{ form.errors|pluralize }} below.</p>
          </div>
        {% endif %}
        <div class="form-row mt-4">
          <div class="col-md-6 pb-3">
            <div class="form-group">
              <label for="{{form.student.id_for_label}}"
              {% if form.student.errors %}class="text-danger"{% endif %}>
              <h5 class="required">{{form.student.label}}:
                <span class="selection">
                {% if form.instance.student %}
                {{form.instance.student.last_name}},
                {{form.instance.student.first_name}}
                {% endif %}
                </span>
              </h5>
              </label>
              <!-- id="{{form.student.id_for_label}}" -->
              <input type="text" name="{{form.student.name}}"
                class="form-control{% if form.student.errors %} is-invalid{% endif %}"
                id="autoComplete" data-email=""
                {% if form.instance.student %}placeholder="{{form.instance.student.last_name}}, {{form.instance.student.first_name}}"{% endif %}
                value="{{form.student.value|default_if_none:''}}"
                {% if not templates_debug %}required{% endif %}>
              <small>
                {{form.student.help_text}}
              </small>
              <small class="text-danger">
                {{form.student.errors|join:", "}}
              </small>
            </div>
          </div>
          <div class="col-md-6 pb-3">
            <div class="form-group">
              <label for="{{form.course.id_for_label}}"
              {% if form.course.errors %}class="text-danger"{% endif %}>
              <h5>{{form.course.label}}</h5>
              </label>
              <input type="text" name="{{form.course.name}}"
                class="form-control{% if form.course.errors %} is-invalid{% endif %}"
                id="{{form.course.id_for_label}}"
                value="{{form.course.value|default_if_none:''}}">
              <small>
                {{form.course.help_text}}<br>
              </small>
              <small class="text-danger">
                {{form.course.errors|join:", "}}
              </small>
            </div>
          </div>
          <div class="col-md-6 pb-3">
            <div class="form-group">
              <label for="{{form.relationship.id_for_label}}"
              {% if form.relationship.errors %}class="text-danger"{% endif %}>
              <h5 class="required">{{form.relationship.label}}</h5>
              </label>
              <select name="{{form.relationship.name}}" id="{{form.relationship.id_for_label}}"
                class="form-control selectpicker{% if form.relationship.errors %} is-invalid{% endif %}"
                {% if not templates_debug %}required{% endif %} data-style="btn-light">
                {% for value, text in form.fields.relationship.choices %}
                  <option value="{{value}}"{% if form.relationship.value == value %} selected{% endif %}>
                    {{text}}
                  </option>
                {% endfor %}
              </select>
              <small class="text-danger">
                {{form.relationship.errors|join:", "}}
              </small>
            </div>
          </div>
          <div class="col-md-6 pb-3">
            <div class="form-group">
              <label for="{{form.category.id_for_label}}"
              {% if form.category.errors %}class="text-danger"{% endif %}>
              <h5 class="required">{{form.category.label}}</h5>
              </label>
              <select name="{{form.category.name}}" id="id_category"
                class="form-control selectpicker{% if form.category.errors %} is-invalid{% endif %}"
                {% if not templates_debug %}required{% endif %} multiple>
                {% for value, text in form.fields.category.choices %}
                  <option {% if not value %} disabled {% else %} value="{{value}}"{% endif %}{% if value|safe in form.category.value %} selected{% endif %}>
                    {{text}}
                  </option>
                {% endfor %}
              </select>
              <small>
                Click on as many types as you need<br>
              </small>
              <small class="text-danger">
                {{form.category.errors|join:", "}}
              </small>
            </div>
          </div>
          <div class="col-md-6 pb-3">
            <div class="form-group">
              <label for="{{form.severity.id_for_label}}"
              {% if form.severity.errors %}class="text-danger"{% endif %}> 
              <h5 class="required">{{form.severity.label}}</h5>
              </label>
              <select name="{{form.severity.name}}" id="{{form.severity.id_for_label}}"
                class="form-control selectpicker{% if form.severity.errors %} is-invalid{% endif %}"
                {% if not templates_debug %}required{% endif %} data-style="btn-light">
                {% for value, text in form.fields.severity.choices %}
                  <option value="{{value}}"{% if form.severity.value == value %} selected{% endif %}>
                    {{text}}
                  </option>
                {% endfor %}
              </select>
              <small class="text-danger">
                {{form.severity.errors|join:", "}}
              </small>
            </div>
          </div>
          <div class="col-md-6 pb-3">
            <div class="form-group">
              <label for="support_matrix"><h5>Support Matrix</h5></label>
              <div id="support_matrix">boo!</div>
            </div>
          </div>
          <div class="col-md-9 pb-3">
            <div class="form-group" id="descriptionField">
              <label for="{{form.description.id_for_label}}"
              {% if form.description.errors %}class="text-danger"{% endif %}>
              <h5 class="required">{{form.description.label}}</h5>
              </label>
              <textarea rows="2" cols="150" maxlength="1500"
              class="form-control{% if form.description.errors %} is-invalid{% endif %}"
              id="{{form.description.id_for_label}}" name="{{form.description.name}}"
              placeholder="{{form.description.help_text}}"
              >{{form.description.value|default_if_none:''}}</textarea>
              <small class="text-danger">
                {{form.description.errors|join:", "}}
              </small>
            </div>
          </div>
          <div class="col-md-12 pb-3">
            <div class="form-group">
              <label for="id_{{form.interaction.name}}_0"
                {% if form.interaction.errors %}
                  class="d-block text-danger"
                {% else %}
                  class="d-block"
                {% endif %}
                >
                <h5 class="required">{{form.interaction.label}}</h5>
              </label>
              <div class="form-check form-check-inline">
                <label for="id_{{form.interaction.name}}_0"
                  class="form-check-label">
                  <input class="form-check-input" value="Yes"
                    type="radio" name="interaction"
                    {% if not templates_debug %} required{% endif %}
                    id="id_{{form.interaction.name}}_0"
                    {% if form.interaction.value == 'Yes' %}
                      checked
                    {% endif %}>
                    Yes
                </label>
              </div>
              <div class="form-check form-check-inline">
                <label for="id_{{form.interaction.name}}_1"
                  class="form-check-label">
                  <input class="form-check-input" value="No"
                    type="radio" name="interaction"
                    id="id_{{form.interaction.name}}_1"
                    {% if form.interaction.value == 'No' %}
                      checked
                    {% endif %}>
                    No
                </label>
              </div>
            </div>
          </div>
          <div class="col-md-12 pb-3" id="interactionFields">
            <div class="form-group">
              <label for="{{form.interaction_type.id_for_label}}"
              {% if form.interaction_type.errors %}class="text-danger"{% endif %}>
              <h5{% if form.interaction.value == 'Yes' %} class="required"{% endif %}>{{form.interaction_type.label}}</h5>
              </label>
              <select name="{{form.interaction_type.name}}" id="{{form.interaction_type.id_for_label}}"
                class="form-control selectpicker {% if form.interaction_type.errors %} is-invalid{% endif %}"
                {% if not templates_debug %}required{% endif %} data-style="btn-light">
                {% for value, text in form.fields.interaction_type.choices %}
                  <option value="{{value}}"{% if value|safe in form.interaction_type.value %} selected{% endif %}>
                    {{text}}
                  </option>
                {% endfor %}
              </select>
              <small class="text-danger">
                {{form.interaction_type.errors|join:", "}}
              </small>
            </div>
            <div class="form-group">
              <label for="{{form.interaction_details.id_for_label}}"
              {% if form.interaction_details.errors %}class="text-danger"{% endif %}>
              <h5{% if form.interaction.value == 'Yes' %} class="required"{% endif %}>{{form.interaction_details.label}}</h5>
              </label>
              <textarea rows="2" cols="150" maxlength="1500"
              class="form-control{% if form.interaction_details.errors %} is-invalid{% endif %}"
              id="{{form.interaction_details.id_for_label}}" name="{{form.interaction_details.name}}"
              placeholder="{{form.interaction_details.help_text}}"
              >{{form.interaction_details.value|default_if_none:''}}</textarea>
              <small class="text-danger">
                {{form.interaction_details.errors|join:", "}}
              </small>
            </div>
            <div class="col-md-4">
              <div class="form-group">
              <label for="{{form.interaction_date.id_for_label}}"
              {% if form.interaction_date.errors %}class="text-danger"{% endif %}>
              <h5{% if form.interaction.value == 'Yes' %} class="required"{% endif %}>{{form.interaction_date.label}}</h5>
              </label>
              <input type="text" name="{{form.interaction_date.name}}"
                class="form-control{% if form.interaction_date.errors %} is-invalid{% endif %}"
                id="{{form.interaction_date.id_for_label}}"
                style="width:90%;display:inline;margin-right:4px;"
                value="{{form.interaction_date.value|default_if_none:''}}">
              {% if form.interaction_date.errors %}
              <small class="text-danger">
                {{form.interaction_date.errors|join:", "}}
              </small>
              {% endif %}
              </div>
            </div>
          </div>
          <div class="col-md-6 pb-3 clearfix">
            <div class="form-group">
              <label for="{{form.outcome.id_for_label}}"
              {% if form.outcome.errors %}class="text-danger"{% endif %}>
              <h5>{{form.outcome.label}}</h5>
              </label>
              <select name="{{form.outcome.name}}" id="{{form.outcome.id_for_label}}"
                class="form-control selectpicker {% if form.outcome.errors %} is-invalid{% endif %}"
                {% if not templates_debug %}required{% endif %} data-style="btn-light">
                {% for value, text in form.fields.outcome.choices %}
                  <option value="{{value}}"{% if form.outcome.value == value %} selected{% endif %}>
                    {{text}}
                  </option>
                {% endfor %}
              </select>
              <small class="text-danger">
                {{form.outcome.errors|join:", "}}
              </small>
            </div>
          </div>
          <div class="col-md-8 pb-3">
            <div class="form-group">
              <label for="{{form_doc.phile.id_for_label}}"
              {% if form_doc.phile.errors %}class="text-danger"{% endif %}>
              <h5>{{form_doc.phile.label}}</h5>
              </label>
              <input type="file" name="{{form_doc.phile.name}}"
                class="form-control{% if form_doc.phile.errors %} is-invalid{% endif %}"
                id="{{form_doc.phile.id_for_label}}"
                value="{{form_doc.phile.value|default_if_none:''}}">
              {% if form_doc.phile.errors %}
              <small class="text-danger">
                {{form_doc.phile.errors|join:", "}}
              </small>
              {% else %}
              <small>
              {{form_doc.phile.help_text}}
              </small>
              {% endif %}
              <br>
              <label for="{{form_doc.name.id_for_label}}"
              {% if form_doc.name.errors %}class="text-danger"{% endif %}>
              <h5>{{form_doc.name.label}}</h5>
              </label>
              <input type="text" name="{{form_doc.name.name}}"
                placeholder="{{form_doc.name.help_text}}"
                class="form-control{% if form_doc.name.errors %} is-invalid{% endif %}"
                id="{{form_doc.name.id_for_label}}"
                value="{{form_doc.name.value|default_if_none:''}}"
                {% if not templates_debug %}required{% endif %}>
              <small class="text-danger">
                {{form_doc.name.errors|join:", "}}
              </small>
            </div>
          </div>
          <!-- 
          <div class="col-md-12 pb-3">
            <div class="form-group">
              <label for="{{form.xxx.id_for_label}}"
              {% if form.xxx.errors %}class="text-danger"{% endif %}>
              <h5>{{form.xxx.label}}</h5>
              </label>
              <input type="text" name="{{form.xxx.name}}"
                placeholder="{{form.xxx.help_text}}"
                class="form-control{% if form.xxx.errors %} is-invalid{% endif %}"
                id="{{form.xxx.id_for_label}}"
                value="{{form.xxx.value|default_if_none:''}}"
                {% if not templates_debug %}required{% endif %}>
              <small class="text-danger">
                {{form.xxx.errors|join:", "}}
              </small>
            </div>
          </div>
          -->
        </div>
        <!-- /.form-row -->
        <div class="form-row mt-4">
          <div class="col-8 pb-2">
            {% get_lw_content as contact blurbs 2812 %}
            {{contact.body|safe}}
          </div>
          <div class="col-12 pb-2 text-center">
            <button class="btn btn-primary" style="width:200px;" type="submit">
            Submit
            </button>
          </div>
        </div>
        <!-- end form row -->
      </form>
      <!-- end form -->
    </div>
    <!-- end card body -->
  </div>
  <!-- end card -->
</div>
<!-- end container -->
{% endblock %}
