<div class="container mb-4" id="alert-container">
<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-12">
    <div class="btn btn-block rebecca">
        <a href="{% url 'detail' data.id %}" class="text-white">
          {% if return %}<i class="fa fa-arrow-left blue-tooltip" aria-hidden="true"
          data-toggle="tooltip" data-placement="top"
          title="Return to the detailed view for this  alert"></i>{% endif %}
          {{data.student.last_name}}, {{data.student.first_name}}</a>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-12">
    {% if perms.manager and data.status != "Closure suggested" and data.status != "Closed" and not perms.admin %}
    <div class="row mb-4" id="alertStatus">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
        <div class="panel panel-default">
          <div class="panel-body">
          <a href="#" class="btn btn-block btn-success alert-status">Suggest closure</a>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
  <div class="col-lg-4 col-md-4 col-sm-12">
    {% if perms.team or perms.admin %}
      <div class="card panel-success mb-2">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="student-contact" style="font-size:.9em;">
              <div class="row">
                <div class="col-lg-8 col-md-8">
                  <a href="mailto:{{data.student.email}}">{{data.student.email}}</a><br>
                  {% if sports %}
                    {% for s in sports %}
                      {{s|safe}}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                    <br>
                  {% endif %}
                  {% if student.major1 %}{{student.major1}},{% endif %}
                  {% if student.major2 %}{{student.major2}},{% endif %}
                  {% if student.major3 %}{{student.major3}}{% endif %}
                </div>
                <div class="col-lg-4 col-md-4">
                  <div class="float-right">
                    <strong>{{data.student.id}}</strong>
                  </div>
                  <div class="clearfix"></div>
                  <div class="float-right">
                    {% if student.residency_status == "Commuter" %}
                    {{student.residency_status}}
                    {% else %}{% if student.bldg %}
                    {{student.bldg}}&nbsp;{{student.room}}
                    {% endif %}{% endif %}
                  </div>
                </div>
              </div>
            </div>
            <!-- /.col-12 -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.card-body -->
      </div>
     {% endif %}
  </div>
</div>
<!-- /.row -->
